setuptools
wheel
KekikTaban
KekikSpatula
user-agents
Flask
Flask-Sitemap
waitress
Flask-RESTful
Flask-Bootstrap
SQLAlchemy
Flask_SQLAlchemy
WTForms
Flask_WTF
Flask_Login
Flask-COMBO-JSONAPI
pymongo
pymongo[srv]
PyJWT
pyTelegramBotAPI
python-binance
deep_translator